<html>
<head>
<title>Change Password</title>    
</head>
<body>
<form action="/change" method="post">
<label>    
Confirm Password:    
<input type="password" name="pwd"/>
</label>
<input type="submit" value="submit"/>
</form>
</body>
</html>