<html>
<head>
<title>Welcome!!!</title>    
</head>
<style>
    img{
        margin-top:50;
        margin-left:250;
        
    }    
</style>
<script>
function my(){
    
    setInterval(function(){
    console.log("ggg");
    window.location.replace("http://localhost:4000");
    
},3000);    
             }
</script>
<body onload="my()">
  <img src="/final.gif" height="600" width="1000" />  
</body>
</html>
