<html>
<head>
   <title>Me</title>    
</head>
<body>
<ul>
<li>Username:<%= user.username %></li>
<li>Name:<%= user.name %></li>
<li>Phone Number:<%= user.phone %></li>
<li>Email:<%= user.email %></li>
<li><a href="/newpwd">Change password</a></li>
</ul>   
</body>
</html>